#root {
  margin: 0;
  padding: 0;
  font-size: 21px;
  color: wheat;
}

header {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: #2b0505;
  color: white;
}

main {
  margin: 0 auto;
  padding: 2rem;
}
